# Analysis on AB test results using Python. I will conduct a hypothesis test to see if the conversion rate difference is significant

In [1]:
import pandas as pd
import numpy as np
#import plotly.express as px

In [5]:
df = pd.read_csv('files/ab_test_results.csv')

df

  page_version  total_users  converted_users  conversion_rate
0            A          494              156           0.3158
1            B          506              157           0.3103